[submodule "XiangShan"]
	path = XiangShan
	url = https://github.com/OpenXiangShan/XiangShan
[submodule "NEMU"]
	path = NEMU
	url = https://github.com/OpenXiangShan/NEMU
	branch = xs
[submodule "nexus-am"]
	path = nexus-am
	url = https://github.com/OpenXiangShan/nexus-am
[submodule "NutShell"]
	path = NutShell
	url = https://github.com/OSCPU/NutShell
	branch = difftest
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://github.com/OpenXiangShan/DRAMsim3.git
[submodule "tl-test-new"]
	path = tl-test-new
	url = https://github.com/OpenXiangShan/tl-test-new.git
	branch = tutorial-2024
[submodule "gem5"]
	path = gem5
	url = https://github.com/OpenXiangShan/GEM5.git
