[submodule "XiangShan"]
	path = XiangShan
	url = https://github.com/OpenXiangShan/XiangShan
[submodule "NEMU"]
	path = NEMU
	url = https://github.com/OpenXiangShan/NEMU
	branch = xs
[submodule "NutShell"]
	path = NutShell
	url = https://github.com/OSCPU/NutShell
	branch = difftest
[submodule "env-scripts"]
	path = env-scripts
	url = https://github.com/OpenXiangShan/env-scripts.git
