name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  setup-develop-env:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup XiangShan environment
        run: |
            git config --global url."https://github.com/".insteadOf git@github.com:
            git config --global url."https://".insteadOf git://
            sudo -s ./setup-tools.sh
            source ./setup.sh
      
      - name: Sim NutShell using Verilator
        run: |
            cd $GITHUB_WORKSPACE
            source ./env-test.sh
      
# Github hosted CI does not support XiangShan
  sim-xiangshan:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Sim XiangShan using Verilator
        run: |
            git config --global url."https://github.com/".insteadOf git@github.com:
            git config --global url."https://".insteadOf git://
            cd $GITHUB_WORKSPACE
            make -C nexus-am clean
            source ./setup.sh
            source ./env.sh
            cd $GITHUB_WORKSPACE/XiangShan
            make clean
            make emu CONFIG=MinimalConfig
            ./build/emu -b 0 -e 0 -i ./ready-to-run/linux.bin
